<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Good Tipper</h1>

      <div class="row input-fields">

        <div class="col-md-6">
          <label>How much was your meal?</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon">$</span>
            {{input type="number" value=billAmount class="form-control" min=0}}
          </div>
        </div>

        <div class="col-md-6">
          <label>How much would you like to tip?</label>
          <div class="input-group input-group-lg">
            {{input type="number" value=tipPercentage class="form-control" min=0}}
            <span class="input-group-addon">%</span>
          </div>
        </div>

      </div>


      <div class="tip-calculation">
        So, yea. Your tip will be {{number-to-currency tipAmount}}. For a total of {{number-to-currency billAmount}}.
        <p>{{#if isCheapskate}}You are a bad person.{{/if}}</p>
      </div>

      <table class="table">
        <tbody>
          <tr>
            <td class="auto-tip">{{number-to-currency fifteenPercentTip}} is a 15% tip.</td>
            <td class="auto-tip">{{number-to-currency eighteenPercentTip}} is a 18% tip.</td>
            <td class="auto-tip">{{number-to-currency twentyPercentTip}} is a 20% tip.</td>
          </tr>
        <tbody>
      </table>

       <div class="btn-group btn-group-justified" role="group">
         <div class="btn-group" role="group">
           <button {{action 'setTipPercentage' 15}} class="btn btn-default">15%</button>
         </div>
         <div class="btn-group" role="group">
           <button {{action 'setTipPercentage' 18}} class="btn btn-default">18%</button>
         </div>
         <div class="btn-group" role="group">
           <button {{action 'setTipPercentage' 20}} class="btn btn-default">20%</button>
         </div>
      </div>

    </div>
  </div>
</div>