<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Good Tipper</h1>

      <div class="row input-fields">

        <div class="col-md-6">
          <label>How much was your meal?</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon">$</span>
            {{input type="number" value=billAmount class="form-control" min=0}}
          </div>
        </div>

        <div class="col-md-6">
          <label>How much would you like to tip?</label>
          <div class="input-group input-group-lg">
            {{input type="number" value=tipPercentage class="form-control" min=0}}
            <span class="input-group-addon">%</span>
          </div>
        </div>

      </div>


      <div class="tip-calculation">
        So, yea. Your tip will be ${{tipAmountFormattedForHumans}}. For a total of ${{totalBillFormattedForHumans}}.
        <p>{{isCheapskate}}</p>
      </div>

      <ul>
        <li>${{fifteenPercentTip}} is a 15% tip.</li>
        <li>${{eighteenPercentTip}} is a 18% tip.</li>
        <li>${{twentyPercentTip}} is a 20% tip.</li>
      </ul>

      <div class="buttons">
        <button {{action 'setTipPercentage' 15}} class="btn btn-primary">15%</button>
        <button {{action 'setTipPercentage' 18}} class="btn btn-primary">18%</button>
        <button {{action 'setTipPercentage' 20}} class="btn btn-primary">20%</button>
      </div>

    </div>
  </div>
</div>